body
{
	font-size: 16px;
	line-height: 24px;
	background-color: #1976D2;
	color: rgb(255,255,255);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5
{
	text-shadow: 1px 1px 0px rgba(0,0,0,0.8)
}

h1
{
	font-family: 'Alegreya', serif;
	font-weight: 900;
}

h2, h3, h4, h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h2 + i > a
{
	font-size: 0.8em;
	color: white;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

h2 + i > a:hover
{
	color: #d9534f;
}

#h1-container
{
	background-color: #0d5398;
	border-top: 5px solid #d9534f;
}

.code-block
{
	background-color: #002b36;
	width: 60%;
	margin: 4em 20%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255,255,255,0.2);
	overflow: scroll;
}

.code-block .gutter
{
	background-color: #073642;
	color: #93a1a1;
	line-height: 1.5em;
	padding: 0 8px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.code-block .gutter span {
	display: block;
	text-align: right;
}

.code-block .gutter span:first-of-type
{
	padding: 1em 0 0;
}

.code-block .gutter span:last-of-type
{
	padding: 0 0 1em 0;
}

.code-block .javascript
{
	vertical-align: top;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.code-block code
{
	background-color: transparent;
	color: #b58900;
	display: block;
	line-height: 1.67em;
	overflow: scroll;
	white-space: nowrap;
}

.code-block code .indent1
{
	margin-left: 2em;
}

.code-block code .indent2
{
	margin-left: 4em;
}

.code-block code .indent3
{
	margin-left: 6em;
}

.code-block code .indent4
{
	margin-left: 8em;
}

.code-block code .indent5
{
	margin-left: 10em;
}